{% extends "base.html" %}
{% block content %}
<div class="main-home-page">
	<h2 class="about-title">WEB CHALLENGE</h2>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac magna nibh. Nulla eleifend felis sed placerat tempor. Pellentesque sit amet enim porttitor, auctor urna ac, consectetur massa. Etiam ultrices augue ut hendrerit pretium. !!<b>Never mind... just some random text to fill up the empty space. All you need to do is find 5 flags hidden inside the website!!</b>
		PS: Pay attention !!
	</p>

</div>
	<!-- Awesome!! You got the first Flag: BOOT_UP{WaSNT_iT_eASy} -->
{{super()}}

























































































































































































































































<p>
	<p>
		<!-- Don't worry 'btup23' !!! , your secret is safe with us at "k3y_is_n0tkn0wn.jpg" !!-->

		<!-- png,jpg,jpeg -->
	</p>
</p>






























































































































































































{% endblock %}